form(action="" method="post")
  input(name="task" type="text")
  button Create
hr
form(action="" method="get")
  input(name="keyword" type="text")
  button Search
ul
  each task in todoList
    li=task.task